  <td width="5%">
    <i *ngIf="extrinsic.attributes.signed" class="fa fa-file-signature"></i>
    <i *ngIf="extrinsic.attributes.unsigned" class="fa fa-file-alt"></i>
  </td>
  <td><a routerLink="{{ networkURLPrefix }}/extrinsic/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">{{ extrinsic.id }}</a></td>
  <td class="is-hidden-mobile"><a routerLink="{{ networkURLPrefix }}/block/{{ extrinsic.attributes.block_id }}">{{ extrinsic.attributes.block_id }}</a></td>
  <td>{{ extrinsic.attributes.module_id }}</td>
  <td>{{ extrinsic.attributes.call_id }}</td>
  <td class="is-hidden-mobile"><span *ngIf="extrinsic.attributes.signed">{{ 'Extrinsic-list.Yes' | translate }}</span><span *ngIf="!extrinsic.attributes.signed">{{ 'Extrinsic-list.No' | translate }}</span></td>
  <td>
    <i *ngIf="extrinsic.attributes.success" class="fa fa-check" style="color: forestgreen"></i>
    <i *ngIf="extrinsic.attributes.error" class="fa fa-times" style="color: darkred"></i>
  </td>
  <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/extrinsic/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">{{ 'Extrinsic-list.Details' | translate }}</a></td>
